@import "../../common.scss";

.security-content-import {
    background: #feffff;
    border-radius: 10px;
    height: 60px;

    margin: 12px 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 18px 14px 18px 20px;
    box-shadow: 0 12px 30px 0 rgba(37, 34, 117, 0.08);
}
.account-info-import {
    padding-top: 10px;
    background: #f3f6ff;
    width: 100%;
    min-height: 100vh;
}
