@import "../../common.scss";
.tab_container_top {
  height: 550px;
  .tab_title_wrap_top {
    padding: 0px;
    height: 44px;
    background: #feffff;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .tab_title_top {
    padding: 0px 15px;
    font-size: $font-size-title-small;
    font-weight: 500;
    line-height: 24px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .tab-top-lab-indictor {
    width: 11px;
    height: 4px;
    background: transparent;
    border-radius: 2px;
    margin-top: 5px;
  }
  .tab-top-lab-indictor-active {
    background: #226dff;
  }
  .tab_content_wrap_top {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }
  .hide_top {
    display: none;
  }
  .show_top {
    display: block;
  }
  ul li {
    list-style-type: none;
  }
  .home-inactive_top {
    color: #7080b5;
  }
  .home-active_top {
    color: #2c3451;
  }
}
