.reset-bottom-container {
    position: absolute;
    bottom: 20px;
    text-align: center;
    margin-left: 0px;
    width: 100%;
}

.reset_container {
    margin: 0;
    height: 100%;
    background-color: white;
    position: relative;
    margin-top: 10px;
    padding: 0 25px;
  }