@import "./common.scss";

.App {
  user-select: none;
  -webkit-user-drag: none;
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
}

.App-header {
  display: flex;
  flex-direction: column;
  min-width: $app-width;
  min-height: $app-height;
  max-width: $app-width;
  max-height: $app-height;
}
body {
  margin: 0;
  font-family: Ubuntu, Arial, sans-serif;
  max-width: $app-width;
  max-height: $app-height;
}
p {
  margin: 0;
  padding: 0;
  user-select: none;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
}
