$font-size-title-large: 32px;

$font-size-title-big: 24px;

$font-size-middle-title: 20px;

$font-size-title: 18px;

$font-size-title-small: 16px;

$font-size-content: 14px;

$font-size-desc: 12px;

$font-size-small: 10px;


$page-margin-top: 0px;


$modal-width: 290px;

$bigger-btn-width: 315px;


$app-height: 600px;

$app-width: 450px;

$color-danger: #ff2a7f;

.click-cursor {
    cursor: pointer;
}

.click-cursor-disable {
    cursor: not-allowed;
}

.mne-item {
    display: inline-block;
    padding: 8px 15px;
    margin: 5px 10px 5px 0;

    background: rgba(34, 109, 255, 0.1);
    border-radius: 5px;
    font-size: $font-size-content;
    line-height: 13px;
    font-weight: 400;
}
