$font-size-title-large: 32px;

$font-size-title-big: 24px;

$font-size-middle-title: 20px;

$font-size-title: 18px;

$font-size-title-small: 16px;

$font-size-content: 14px;

$font-size-desc: 12px;

$font-size-small: 10px;


$page-margin-top: 0px;


$modal-width: 290px;

$bigger-btn-width: 315px;


$app-height: 600px;

$app-width: 375px;

.click-cursor {
    cursor: pointer;
}

.click-cursor-disable {
    cursor: not-allowed;
}