@import "../../common.scss";
.tab_title_wrap {
  width: 100%;
  display: flex;
  position: absolute;
  bottom: 0%;
  margin: 0;
  padding: 0;
  background: #ffffff;

  box-shadow: 0 -15px 25px 0 rgba(0, 0, 0, 0.05);
  justify-content: space-between;
  position: fixed;
}
.tab_content_wrap {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-y: scroll;
}
.tab_title {
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-size: $font-size-content;
  -webkit-transform: scale(0.85);
  flex: 1;
}
.hide {
  display: none;
}
.show {
  display: block;
}
ul li {
  list-style-type: none;
}
.home-inactive {
  color: #7080b5;
}
.home-active {
  color: #2c3451;
}
.home-tab-img {
  height: 20px;
  margin-bottom: 5px;
}
.home-disable{
  color: #DDDDDD;
  cursor: not-allowed;
}
