@import "../../common.scss";

.node-info-container {
  padding: 0px 12px;
  background: #f3f6ff;
  width: 100%;
  height: 100%;
  padding-top: 12px;
}
.node-detail-top-detail {
  background: #feffff;
  border-radius: 10px;
  padding: 16px 12px;
}
.node-stake-detail-item {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 10px;
}
.node-commission-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.node-base-info-container {
  display: flex;
  width: 100%;
  height: 30px;
  justify-content: space-between;
  align-items: center;
}
.node-base-info {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.user-base-info {
  display: flex;
  margin-top: 12px;
  border-radius: 10px;
  padding: 20px 0px 12px;
}
.bottom-group {
  display: flex;
}

.node-validator-name {
  font-size: $font-size-middle-title;

  font-weight: 500;
  color: #2c3451;
  line-height: 27px;
  margin-left: 8px;
}

.node-commission-title {
  color: rgba(44, 52, 81, 1);
  font-size: $font-size-content;
  line-height: 20px;
}
.node-commission-content {
  font-size: $font-size-content;

  font-weight: 400;
  color: rgba(34, 109, 255, 1);
  line-height: 20px;
}

.node-stake-detail-content {
  font-size: $font-size-content;

  font-weight: 400;
  color: #7080b5;
  line-height: 19px;
}

.user-detail-staked {
  font-size: $font-size-desc;

  font-weight: 400;
  color: #2c3451;
  line-height: 20px;
}
.user-detail-staked-content {
  font-size: $font-size-desc;

  font-weight: 400;
  color: #7080b5;
  line-height: 19px;
  margin-top: 2px;
}

.user-detail-container {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.stake-column-divided {
  width: 1px;
  height: 42px;
  background: #edf1f7;
  border-radius: 4px;
}

.stake-common-btn {
  height: 44px;
  width: 315px;
}
.node-bottom-container {
  position: absolute;
  bottom: 20px;
  text-align: center;
  margin-left: 0px;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 0 12px;
}
.node-bottom-container-two {
  justify-content: space-between;
}
.vailidator-node-detail-container {
  background: #feffff;
  border-radius: 10px;
  padding: 20px 20px 20px 20px;
  position: relative;
  margin-top: 12px;
  width: 100%;
  height: 160px;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.circle-con {
  width: 120px;
  height: 120px;
}
.vailidator-node-total {
  font-size: $font-size-desc;
  font-weight: 400;
  color: #2c3451;
  line-height: 10px;
  margin-top: 4px;
}
.vailidator-node-total-title {
  font-size: $font-size-desc;
  font-weight: 400;
  color: #7080b5;
  line-height: 17px;
  margin-top: 7px;
}
.vailidator-node-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 20px;
}

.node-token-detail-item {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.node-token-detail-indicator {
  width: 12px;
  height: 12px;
  border-radius: 4px;

  margin-right: 10px;
}

.node-token-detail-title {
  font-size: $font-size-desc;

  font-weight: 400;
  color: #7080b5;
  line-height: 17px;
}

.node-token-detail-content {
  font-size: $font-size-content;

  font-weight: 400;
  color: #2c3451;
}
.node-token-indicator-other {
  background: #73a0fa;
}

.node-token-indicator-sele {
  background: #73deb3;
}

.stake-node-person-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 34px;
  background: #f7f9fc;
  border-radius: 4px;
  padding: 0px 10px;
}

.stake-node-icon-little {
  width: 13px;
  margin-right: 7px;
}

.stake-node-people-title {
  font-size: $font-size-content;
  font-weight: 400;
  color: #7080b5;
  line-height: 19px;

  margin: 0px 7px;
}
.stake-node-people-count {
  font-size: $font-size-content;
  color: #2c3451;
  line-height: 19px;
}

.circle-right {
  margin-left: 40px;
  margin-top: 0px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.stake-common-btn-cancel {
  background: #e8f0ff;
  color: #7080b5;
}
