@import "../../common.scss";

.sign-page-container {
    width: 100%;
    height: 100%;
    position: relative;
    flex-direction: column;

    .sign-page-top-con {
        background: #f3f6ff;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 10px;
        justify-content: space-between;
    }
    .sign-page-top-left {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .sign-page-icon-top{
        text-align: center;
    }
    .sign-page-top-address {
        font-size: $font-size-content;
        color: #7080b5;
        line-height: 21px;
        margin-left: 4px;
        margin-bottom: 4px;
    }
    .sign-button-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        position: absolute;
        bottom: 30px;
        margin: auto;
        padding: 13px 40px;
        width: 100%;
        left: 0;
        right: 0;
        text-align: center;
    }
    .sign-page-icon-con {
        width: 100%;
        margin-top: 30px;
        display: flex;
        align-items: center;
        justify-content: center;

        flex-direction: column;
    }
    .sign-page-icon {
        width: 70px;
        height: 70px;
    }
    .sign-page-url {
        font-size: $font-size-title-small;
        font-weight: 500;
        color: #243f5f;
        line-height: 24px;
        margin-top: 20px;
        word-break: break-all;
        padding: 0px 20px;
    }
    .sign-detail-item {
        display: flex;
        justify-content: space-between;
        margin: 10px 20px;
    }
    .sign-detail-title {
        margin: 0;
        width: 80px;

        font-size: $font-size-content;
        color: #7080b5;
        line-height: 20px;
        text-align: left;
    }
    .sign-detail-content {
        margin: 0;
        word-break: break-all;
        text-align: right;
        margin-left: 20px;

        font-size: $font-size-content;
        color: #2c3451;
        line-height: 20px;
    }
}
