@import "../../common.scss";
.paratime-outer-container {
    background: #f3f6ff;
    height: 550px;
    width: 100%;

    .runtime-item-container {
        position: relative;
        background: #feffff;
        border-radius: 10px;
        padding: 10px 12px 20px;
        margin-bottom: 10px;

        .runtime-content-name {
            margin: 0px 0px 6px;
            font-size: 16px;
            line-height: 24px;
            color: #2C3451;
            max-width: 80%;
        }
        .runtime-content-id {
            font-size: 14px;
            line-height: 20px;
            font-weight: normal;
            color: #7080b5;
        }
        .paratime-button-container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-top: 10px;
          }
          
    }
    .noParatimeContainer {
        margin-top: 120px;
        text-align: center;
    }
    .runtimeListContainer {
        margin-top: 10px;
    }
}
