@import "../../common.scss";
.mne-show-container {
  padding: 0px 27px;
  margin-top: 10px;
  position: relative;
  flex-direction: column;
}

.mne-description {
  font-size: $font-size-content;

  font-weight: 400;
  color: #7080b5;
  line-height: 20px;
  margin-top: 7px;
  margin-bottom: 10px;

  hyphens: auto;
}

.mne-item-common {
  color: #226dff;
}
