@import "../../common.scss";

.confirm-container {
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.confirm-container-hide {
    display: none;
}
.confirm-content-container {
    width: $modal-width;
    background: #feffff;
    box-shadow: 0 12px 30px 0 rgba(37, 34, 117, 0.08);
    border-radius: 10px;
    padding: 20px;
    margin: 0px 42px;
    position: relative;
    box-sizing: content-box;
}

.confirm-title {
    margin: 10px 0px 20px;
    letter-spacing: 0;
    text-align: justify;
    text-align: center;

    font-size: $font-size-title-small;
    font-weight: 500;
    color: #2c3451;
    line-height: 23px;
}
.confirm-content {
    margin: 0;
    letter-spacing: 0;
    margin-top: 18px;
    hyphens: auto;

    font-size: $font-size-content;
    font-weight: 400;
    color: #7080b5;
    line-height: 20px;
}
.confirm-button-container {
    margin-top: 34px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.confirm-button-container-no-cancel {
    margin-top: 34px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.confirm-img {
    width: 44px;
}
.confirm-img-container {
    text-align: center;
}

.confirm-close {
    width: 14px;
    position: absolute;
    top: 20px;
    right: 20px;
}
