@import "../../common.scss";

.welcome_container {
  margin: 0;
  height: 100%;
  background: url("../../../assets/images/welcome_bg.png");
  background-size: 100% 100%;
}

.welcome-button-container {
  margin-top: 20px;
  width: 100%;
  text-align: center;
}
.welcome-logo {
  width: 334px;
  height: 75px;
  margin-bottom: 20px;
}
.welcome-wallet-intro {
  margin-top: 110px;
  font-size: $font-size-content;
  font-weight: 400;
  color: #7080b5;
  line-height: 18px;
}
.welcome-top-container {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  align-items: center;
}
