@import "../../common.scss";
.mne-item-record {
  background: #f7f9fc;
  color: #7080b5;
}

.mne-item-select {
  display: none !important;
}

.mne-select-container {
  min-height: 60px;
  margin-bottom: 30px;
}
